:root {
  --fairy-tale: #F1C8DB;
  --puce: #B88C9E;
  --eggplant: #704C5E;
  --cadet-gray: #88A09E;
  --viridian: #558B6E;
  --black: #000000;
  --white: #FFFFFF;
  --fb-blue: #3b5998;
  --twitter-blue: #1DA1F2;
  --error-red: #FF0000;
  --smokey-grey: hsl(0, 1%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto Slab', serif;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.container {
   margin: 5rem 20rem;
   display: flex;
   flex-direction: row;
 }

.side-column {
  width: 600px;
  height: 750px;
  background-size: cover;
  background-position: 50%;
  background-image: url(./assets/images/beets.jpg);
  color: var(--white);
  padding: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 72px;
}

h2 {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 42px
}

p {
  margin-bottom: 2rem;
}

#socials {
  font-weight: bold;
}

button {
  border: none;
  margin-top: .5rem;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
}

.icon {
  color: var(--white);
  text-align: center;
  padding: .25rem;
}

.facebook-btn {
  background-color: var(--fb-blue);
}

.facebook-btn:focus {
  background-color: var(--smokey-grey);
}

.twitter-btn {
  background-color: var(--twitter-blue);
}

.twitter-btn:focus {
  background-color: var(--smokey-grey);
}

.main {
  padding: 2rem;
  width: 600px;
  height: 750px;
}

.login-link {
  color: var(--viridian);
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: .5rem;
}

input {
  padding: 1rem;
  margin: 0;
  background-color: transparent;
  border: 2px solid var(--eggplant);
  border-radius: 10px;
  box-sizing: border-box;
}

input:focus {
  outline: 2px solid var(--fairy-tale);
}

.hidden {
  visibility: hidden;
}

.error-container {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
}

.error-icon {
  color: var(--error-red);
  margin-right: .54rem;
}

.submit-btn {
  background-color: var(--viridian);
  width: 250px;
}

.submit-btn:focus {
  background-color: var(--cadet-gray);
}

.error {
  color: var(--error-red);
  margin-bottom: 1rem;
}

.error-input {
  outline: 2px solid var(--error-red);
}
